@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

$gold: #ffca33;
$leyaGreen: #00a134;
$leyaOpacity: #e5f6eb;
$leyaBlack: #333333;
$leyaText: #101010;
$leyaRed: #f85857;
$leyaLight: #f2faf5;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);

body {
  font-family: 'Mulish' !important;
}
